fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
httpx
pyjwt
cryptography
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
opentelemetry-exporter-otlp
